
@{
    ViewBag.Title = "AddtoBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<button class="btn btn-light"><a href="@Request.UrlReferrer">Back to List/Details</a></button>

<h4>@ViewBag.Message</h4>

