@{
    ViewBag.Title = "Membership";
}

@ViewBag.Message

<h5>If user is already a member, block them from buying new membership until old one expires.<br/>Hopefully Beau is implementing an easy check to see if user is 'valid' or expired</h5>

<h2>Membership information will go here (Tash)</h2>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add standard membership to basket", "AddMembership", "Basket", new {membershipId = 1 }, null)
}
else
{
    <div class="bg-warning">
        <p>You must be logged in to buy a Membership online.<br/>It will automatically be added to your customer account.</p>
        <p>Please Login or Register a new account using the links above.</p>
        <h5>Tash, please replace the instructions in the line above with links to the login/register page</h5>
    </div>
}

<hr/>

<div class="bg-light">
    <h2>Dan's Test Buttons (will be deleted later)</h2>
    @Html.ActionLink("Add a single add-on 1 to basket", "AddAddOns", "Basket", new {AddOnId = 1, quantity = 1 }, null)
    <br />

    @Html.ActionLink("Add a couple of add-on 1s to basket", "AddAddOns", "Basket", new {addonId = 1, quantity = 2 }, null)
    <br />
</div>