@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.box-colour {
    background: rgba(252,191,45, 0.5) !important;
    padding-bottom: 40px;
}

.navlogo-padding {
    padding-left: 4px;
}

.index-font {
    font-size: x-large;
    font-weight: 500;
    color: white;
    text-shadow: black 0.1em 0.1em 0.5em; 
}

.site-background123 {
    background: url("/Content/SiteImages/appledoorSiteBackground.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.menu-links {
    padding: 0 !important;
    border: none !important;

}


/*Makes content in cntainer central*/
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.logo-padding {

    padding-bottom:40px;

}

.accordion-footer {
    position: center;
    bottom: 0;
    width: 100% !important;
}

.button1
{
    border:none;
    background-color:transparent;
    outline:none;
}



