@{
    ViewBag.Title = "";
}
<div class="container-fluid text-center">

         <div class="col-md-12 footer-colourbox shadow-sm">
             <h2>@ViewBag.Title</h2>
             <h3 align="center">@ViewBag.Message</h3>

         </div>

</div>

<body class="site-background123">

    <div class="jumbotron box-colour index-font">
        <p>
            Appledore Book Festival is a charity founded in 2006 by Nick Arnold, author of Horrible Science.
            Nick directed the first ever book festival in a bid to raise money to save Appledore Library and his campaign brought our community together,
            saving the library which is still at the heart of our village today.

        </p>

        <p>

            Now in our 13th year, Appledore Book Festival continued as an independent event and has become the biggest cultural festival
            in Devon attracting world class authors, speakers and artistes for our community to enjoy.
            Run almost exclusively by a team of volunteers who do everything from stewarding the events to adorning the village with bunting,
            our Festival is run by the community for our community which makes our Festival experience so unique.  Our beautiful maritime village
            location and our historic venues encourage authors and visitors to spend time and enjoy the village life which means you often see your
            favourite authors enjoying a Hockings ice-cream or hanging out in one of our fabulous cafes and bars.

        </p>

        <p>
            As a charity, our aim is a simple one: to increase the enjoyment of reading and encourage creative writing through providing access
            to inspirational events. Last year we sold over 6k tickets and reached over 4k children in North Devon Schools.

        </p>

        <p>
            We couldn’t have achieved this without all of our supporters, our Friends, ticket buyers and the business community.
            We are especially grateful to our Patrons Nick Arnold, Andy Cooper, Jeremy Vine and Judi Spiers who continue to give their valuable
            time to guide us and promote what we do. Their commitment helps us to attract top quality events for our supporters to enjoy.
            We are really looking forward to welcoming everyone to Appledore for this year’s event.
        </p>
        </div>
</body>
