
@{
    ViewBag.Title = "Contact Us";
}

<body class="message-sent-bg">
    <div class="container text-center">

        <div class="col-md-12 footer-colourbox shadow-sm">
            <h3 align="center">@ViewBag.Title</h3>

         </div>

            <hr />

            <div class="instructions jumbotron box-colour2">
                <h2>Your message as been sent succesfully!</h2>
                <hr />
                <h5>Thanks for your message. If required, someone will be in touch with you shortly!</h5>
                <p>If your enquiry is urgent, or related to a ticket order, please consider calling the Box Office directly on <b>01237 42 49 49</b></p>
            </div>

            <hr />
</body>