
@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<h3 align="center">@ViewBag.Title</h3>

<hr />

<div class="instructions">
    <h2>Your message as been sent succesfully!</h2>
    <h5>Thanks for your message. If required, someone will be in touch with you shortly!</h5>
    <p>If your enquiry is urgent, or related to a ticket order, please consider calling the Box Office directly on <b>01237 42 49 49</b></p>
</div>

<hr />
