@{
    ViewBag.Title = "";
}
<div class="container-fluid text-center">

    <div class="col-md-12 footer-colourbox shadow-sm">
        <h2>@ViewBag.Title</h2>
        <h3 align="center">@ViewBag.Message</h3>

    </div>

</div>

<body class="contact-us-bg">
<div class="jumbotron box-colour2">
   


    <div class="instructions">
        <h5>Please complete the form below with any general queries or comments.</h5>
        <p>If your enquiry is urgent, or related to a ticket order, please consider calling the Box Office directly on <b>01237 42 49 49</b></p>
    </div>

    <hr />
   
    <div class="form-group col-md-12">
        <form action='@Url.Action("Contact", "Home")' method='post'>
            @Html.AntiForgeryToken()

            <table>
                <tr id="nameinput">
                    <td>
                        <label for='name'><b>Your Name</b></label>
                    </td>
                    <td rowspan="5" style="width:20px">&nbsp</td>
                    <td>
                        <input name='name'/>
                    </td>
                </tr>
                <tr id="emailinput">
                    <td>
                        <label for='email'><b>Email</b></label>
                    </td>
                    <td>
                        <input name='email'/>
                    </td>
                </tr>
                <tr id="phoneinput">
                    <td>
                        <label for='phone'><b>Phone Number</b></label>
                    </td>
                    <td>
                        <input name='phone'/>
                    </td>
                </tr>
                <tr id="messageinput">
                    <td>
                        <label for='message'><b>Message</b></label>
                    </td>
                    <td>
                        <textarea name='message'></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type='submit' value='Send Message'/>
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>
 
</body>
