@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3 align="center">@ViewBag.Message</h3>



<h4>
    Phone us on: 01237 424 949
</h4>

<h4>Contact Emails</h4>
<address>
    <strong><a href="boxoffice@appledorebookfestival.co.uk">Box Office</a></strong> |
    <strong><a href="info@appledorebookfestival.co.uk">Info</a></strong> |
    <strong><a href="schools@appledorebookfestival.co.uk">Schools</a></strong> |
    <strong><a href="director@appledorebookfestival.co.uk">Director</a></strong> |
</address>


<h4> Contact Us on Social Media</h4>

