@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="faq-bg">
<div class="container text-center">

    <div class="col-md-12 footer-colourbox shadow-sm">
        <h1 align="center">FAQs</h1>
    </div>

    <div class="jumbotron box-colour">
    <ol align="left">

        <li><hr>For Any enquiries regarding tickets, membership, or about becoming a friend of the festival, please contact the box office.<hr></li>

        <li>
            If you are interested in putting on a fringe event, or you are an author or publisher and would like to take
            part in next's years festival, please contact the director.<hr />
        </li>



        <li>
            If you work in a school and you are interested in organising an author visit as part of the schools programme,
            get in touch with the schools team.<hr />
        </li>



        <li>
            For general enquiries and if you are a business or reporter and are interested in getting involved with the festival then contact
            info.<hr />
        </li>


    </ol>
        </div>

    <div class="container text-center ">

        <div class="col-md-12 footer-colourbox shadow-sm">
            <h4 align="center">Contact by telephone</h4>
    </div>
    <div class="jumbotron box-colour">
        <p>
            We regret that we do not have a permanently staffed office, so this is not possible.
            However, for information about tickets during the booking season, please ring our
            Box Office at Docton Court Gallery during opening times on 01237 424949
            (Open: Mon–Sat 9:30am–5pm, Sundays 11am–5pm).
        </p>
    </div>
    </div>

    <div class="container text-center">

        <div class="col-md-12 footer-colourbox shadow-sm">
            <h4 align="center">Contact by post</h4>
        </div>

    <div class="jumbotron box-colour">
        <p>
            You can write to our Festival Director at: Miche Tompkins, Festival Office,
            c/o Docton Court Gallery, 2 Myrtle Street, Appledore, Bideford, Devon EX39 1PH
        </p>
    </div>
    </div>

    <div class="container text-center">

        <div class="col-md-12 footer-colourbox shadow-sm">
            <h4 align="center">Feedback</h4>
        </div>
        <div class="jumbotron box-colour">
        <p>E-mail us your general feedback and comments to: info@appledorebookfestival.co.uk</p>
            </div>
    </div>
    </div>
</body>