@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">FAQs</h1>

<ol>
    <li>For Any enquiries regarding tickets, membership, or about becoming a friend of the festival, please contact the box office.</li>

    <li>
        If you are interested in putting on a fringe event, or you are an author or publisher and would like to take
        part in next's years festival, please contact the director.
    </li>

    <li>
        If you work in a school and you are interested in organising an author visit as part of the schools programme,
        get in touch with the schools team.
    </li>

    <li>
        For general enquiries and if you are a business or reporter and are interested in getting involved with the festival then contact
        info.
    </li>
</ol>

<h4 align="center">Contact by telephone</h4>
<p>
    We regret that we do not have a permanently staffed office, so this is not possible.
    However, for information about tickets during the booking season, please ring our
    Box Office at Docton Court Gallery during opening times on 01237 424949
    (Open: Mon–Sat 9:30am–5pm, Sundays 11am–5pm).
</p>

<h4 align="center">Contact by post</h4>
<p>
    You can write to our Festival Director at: Miche Tompkins, Festival Office,
    c/o Docton Court Gallery, 2 Myrtle Street, Appledore, Bideford, Devon EX39 1PH
</p>

<h4 align="center">Feedback</h4>
<p>E-mail us your general feedback and comments to: info@appledorebookfestival.co.uk</p>
