@{
    ViewBag.Title = "Home Page";
}



<body class="site-background123">
 
    <div class="jumbotron box-opacity box-colour">
        <h1></h1>
        <p class="lead rajdhani-font">
            Preparation for the 2019 Appledore Book Festival is well underway, Our Festival will kick off on Friday 20th September with an evening performance and finishes on Saturday 28th September so please save the dates.
            If you would like to receive updates on the authors as they are confirmed and notifications when tickets go on sale, simply subscribe to our newsletter service.
            <br /><br />
            If you are a Friend of the Festival or have bought tickets in the past you will automatically receive our newsletters.
            The full programme will be revealed in July and Friends of the Festival will get a ten day priority booking period.
            <br /><br />
            If you would like to support our charity, you can become a Friend of the Festival for an annual fee of £20.
            This not only supports the work that we do but also provides you with early access to ticket bookings,
            Friends exclusive events and a 10% discount at our Waterstones Festival bookshop.
        </p>

    </div>

</body>