@{
    ViewBag.Title = "Home Page";
}


<div class="container logo-padding">
    <div class="row">
        <img src="~/Content/SiteImages/appledore-book-festival-logo-shadow.png" 
             alt="Appledore Book Festival" style="width:500px; height:150px;" class="center-block" />
    </div>
</div>

<body class="site-background123">
    <div class="jumbotron box-colour index-font">
        <h3 class="lead">Welcome to the 15th Appledore Book Festival!</h3>

        <p class="lead rajdhani-font">
            Appledore Book Festival is a charity founded in 2006 by Nick Arnold, author of Horrible Science. 
            Nick directed the first ever book festival in a bid to raise money to save Appledore Library and 
            his campaign brought our community together, saving the library which is still at the heart of our village today.
        </p>
        
        <p class="lead rajdhani-font">
            Now in our 15th year, Appledore Book Festival continued as an independent event and has become the biggest 
            cultural festival in Devon attracting world class authors, speakers and artistes for our community to enjoy. 
            Run almost exclusively by a team of volunteers who do everything from stewarding the events to adorning the 
            village with bunting, our Festival is run by the community for our community which makes our Festival 
            experience so unique.
        </p>
    </div>
</body>