
@{
    ViewBag.Title = "TermsConditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Terms and Conditions</h2>

<ol>


    <li> Details are correct at the time of going to press.</li>
    <li>
        We reserve the right to change programmes and artists if circumstances dictate.
        In the event of the total cancellation of any single event due to circumstances beyond
        the Appledore Book Festival control, customers can contact the Box Office for a full refund.
    </li>
    <li>
        The management reserves the right to refuse admission.
        Tickets are issued subject to the Rules and Regulations of the Venue.
    </li>
    <li>
        Any person attending an Appledore Book Festival event consents to the recording and filming
        of themselves as members of the audience in such instances whereby recording and filming occurs.
        Personal audio recorders and mobile phones may not be used in the venues.
    </li>
    <li>Ticket orders will be processed in order of receipt, and will be dispatched by return.</li>
    <li>
        All tickets purchased online and via telephone will attract a £1 booking fee per transaction
        (not per ticket) to help us offset administration expenses.  All ticket purchases made online and
        via telephone will receive digital tickets as a standard option.  You will receive a digital ticket
        immediately after making payment.  You can show your digital ticket for entry to the event or you
        can print a copy at home and bring it with you.  If you prefer you can have your tickets printed
        and posted to you for a £1.50 booking fee.
    </li>
    <li>Tickets purchased and collected in our Box Office do not carry a Booking Fee charge.</li>
    <li>
        It is prohibited to make commercial use of any tickets purchased from the Appledore Book Festival.
        Any ticket that is re-sold or transferred for profit or commercial gain by anyone other than the Appledore
        Book Festival may be voided and the holder may be refused entry, or ejected from the venue.
    </li>
    <li>
        Buying a ticket will ensure that you get into the event but we cannot guarantee a seat in any particular location.
        In accordance with security regulations, all venues will be cleared of belongings and Festival-goers in preparation
        for the next event.
    </li>
    <li> If an event is not sold out, tickets can be purchased on the door (cash only).</li>
    <li>
        The Appledore Book Festival cannot be responsible for any personal liability for damages, loss or injury sustained
        during the events, if the cause is due to the negligence of the ticket holder or the unforeseeable actions of other patrons.
    </li>
    <li>
        Appledore Book Festival Children’s Events: An adult must accompany all children under the age of 14. The Appledore Book
        Festival cannot be responsible for children who are unattended. All age recommendations are as suggested by the publisher
        and at the discretion of the person purchasing the ticket.
    </li>
    <li>
        Unwanted tickets will be bought back by the ABF at face value, less a 25% administration charge, up to one week before
        the Festival. The Box Office will need to receive the actual tickets before this can be arranged. No refunds will be made
        after this point.
    </li>


</ol>