@model ABF.ViewModels.OrderSuccessViewModel
@{
    ViewBag.Title = "Confirmed!";
    var ticketlist = Model.tickets;
    var order = Model.order;
}

<h1>Order Confirmed!</h1>

@Html.Partial("_orderDetails", order)

<div class="bg-">
    <h4>Thank you for joining the Appledore Book Festival as a Member!</h4>
    <p>You will need to <b>Log Out</b> and then <b>Log In</b> again to access the Membership features of the site, such as access to Members Events.</p>
    <p>Your Membership will expire at the end of this calendar year.</p>
    <p>You will receive an email when membership renewals are available.</p>
    <hr/>
</div>

<h3>Here's a list of your tickets (for testing purposes)</h3>
<table class="table">
    <tr>
        <th>Ticket ID</th>
        <th>Event Id</th>
        <th>Add On Id</th>
    </tr>

    @foreach (var ticket in ticketlist)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.EventId</td>
            <td>@ticket.AddOnId</td>
        </tr>
    }
</table>

