@model decimal
@{
    ViewBag.Title = "StartCheckoutGuest";
}

<h2>Checkout As A Guest</h2>
<div class="bg-warning">
    <h5>As a Guest, you will not be able to see or manage your order via the website.</h5>
    <p>To enable these features, please Register or Login using the links above.</p>
</div>
<hr />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<form method="post" class="customerdetails" action="@Url.Action("Submit", "Checkout")">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Delivery Address</h4>
                <table class="table-responsive-md">
                    <tr>
                        <td class="label">Name</td>
                        <td><input class="form-control form-control-lg" name="name" type="text" placeholder="e.g. Jeremy Vine" /></td>
                    </tr>
                    <tr>
                        <td class="label">House Number/Name</td>
                        <td><input class="form-control form-control-lg" name="address1" type="text" placeholder="e.g. 123 or My House Name"/></td>
                    </tr>
                    <tr>
                        <td class="label">Street Name</td>
                        <td><input class="form-control form-control-lg" name="address2" type="text" placeholder="e.g. High Street"/></td>
                    </tr>
                    <tr>
                        <td class="label">Town</td>
                        <td><input class="form-control form-control-lg" name="address3" type="text" placeholder="e.g. Appledore"/></td>
                    </tr>
                    <tr>
                        <td class="label">PostCode</td>
                        <td><input class="form-control form-control-lg" name="postcode" type="text" placeholder="e.g. EX39 1PH"/></td>
                    </tr>
                    <tr>
                        <td class="label">Email</td>
                        <td><input class="form-control form-control-lg" name="email" type="email" placeholder="e.g. admin@appledorebookfestival.co.uk"/></td>
                    </tr>
                    <tr>
                        <td class="label">Telephone</td>
                        <td><input class="form-control form-control-lg" name="phone" type="tel" placeholder="e.g. 01237 424949"/></td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6">
                <h4>Payment and Delivery</h4>
                <table style="width:100%">
                    <tr>
                        <td><b>Payment Method</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="paymentmethod" name="paymentmethod">
                                    <option value="">Select...</option>
                                    <option value="cardemail">Pay Now - Email My Tickets</option>
                                    <option value="cardpost">Pay Now - Post My Tickets</option>
                                    <option value="cardcollect">Pay Now - Collect From Box Office</option>
                                    <option value="collectlater">Pay Later - Collect From Box Office</option>
                                    <option value="cheque">Send a Cheque - Post My Tickets </option>
                                </select>

                                <br />
                                <div>
                                    <p class="alert-light" id="paymentText"></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:right">
                            <hr/>
                            <h5>Basket Total <b>£ @(Model - (decimal) 1.50)</b></h5>
                            <h5>Booking/Transaction Fee <b>£ &nbsp;&nbsp;1.50</b></h5>
                            <hr/>
                            <h5>Total <b>£ @Model </b></h5>
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn-lg button btn-info">Checkout</button>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <hr />
        </div>
    </div>
</form>


<br />



<script>
    $(function () {
        $("#paymentmethod").on("change", function () {
            switch ($(this).val()) {
                case "cardemail":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be emailed to the email address you have provided on this page.");
                    break;
                case "cardpost":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be posted to the address you have provided on this page.");
                    break;
                case "cardcollect":
                    $("#paymentText").html("Card Services API, such as Stripe or Paypal would go here. " +
                        "<br/>Tickets will be held at the Box Office for Collection before the Festival.");
                    break;
                case "collect":
                    $("#paymentText").html("Collection and payment must be made at the Box Office with 5 working days of placing this order." +
                        "<br/>If no payment or contact has been made after 5 working days, " +
                        "your order will be cancelled and the tickets returned to stock.");
                    break;
                case "cheque":
                    $("#paymentText").html("Cheques should be payable to <b>Appledore Book Festival</b> " +
                        "and sent to the Box Office within 5 working days.<br/>" +
                        "<br/>Tickets will be posted to the address you have provided on this page after the cheque has successfully cleared.");
                    break;
            }
        });
    });
</script>
