
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Dashboard</h2>

@Html.ActionLink("Events", "Index", "AdminEvents", null, new { @class = "btn btn-primary"})
