
@{
    ViewBag.Title = "Error";
    var em1 = ViewBag.errorMessage1;
    var em2 = ViewBag.errorMessage2;
    var em3 = ViewBag.errorMessage3;
}

<h2>Error</h2>
<hr />
<h4><b>@em1</b></h4>
<br/>
<h5>@em2</h5>
<br/>
<p>@em3</p>
<hr />
